.body{
  background-color: forestgreen;
}

.monkey-page{
  height: 100vh;
  width: 100vw;
  display: grid;
  
}

.bounce-out-bottom {
	-webkit-animation: bounce-out-bottom 1.5s ease-in-out 500ms both;
	        animation: bounce-out-bottom 1.5s ease-in-out 500ms both;
}
