.monkey-page{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 'monkey1area . monkey2area . monkey3area ' 60vh
        'branch branch branch branch .' 40vh
    /2fr 10px 2fr 10px 2fr ;
}

.background-image{
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url(/images/jungle.jpg);
  position: absolute;
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  background-size: cover;
}

.monkey1area{
  grid-area: monkey1area;
}
.monkey2area{
  grid-area: monkey2area;
}
.monkey3area{
  grid-area: monkey3area;
}
.branch{
  grid-area: branch;
}

.branchimg{
  display: flex;
  align-items: flex-start;
  width: 90vw;
  height: 10em;
}

.banana1{
  grid-area: banana1;
}
.banana2{
  grid-area: banana2;
}
.banana3{
  grid-area: banana3;
}

.tree{
  grid-area: tree;
}

.monkey1{
  grid-area: monkey1;
}
.monkey2{
  grid-area: monkey2;
}
.monkey3{
  grid-area: monkey3;
}

.jumpingMonkey {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.alignBanana{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.shake-top {
  width: 7em;
  height: 7em;
  -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite reverse both;
          animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite reverse both;
  

  animation-play-state: paused; 
}     
.shake-top:hover {
  animation-play-state: running; 
}     

 @-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
